/*******************************************************
 * Development by
 * <etienne de Longeaux> <etienne.delongeaux@gmail.com>
 *******************************************************/
 
 /* COMMON */
 div.wijmo-wijprogressbar-east{
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-200px;
	width: 400px;
	height:40px;
	z-index:99999999999; 
}

.clear{
	clear: both;
    float: none;
    font: 1px/1px arial;
} 
 
 /* BLOCK */
  #global-layout h5.block_action_menu {
	position:relative;
	z-index:9999;
	display: none;
	float:left;
    text-align: left;
    margin0;padding:0;
    margin-top: -25px;
    padding-left: 45px;
    font-size: 10px;
    line-height: 13px;
 }
 
 #global-layout a.block_action_admin,
 #global-layout a.block_action_import{
 	display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;margin:0;
    margin-left: 7px;
 }

 /* WIDGET --------------------------------------------------------*/
  #global-layout h6.widget_action_menu {
 	clear: both;
	position:relative
	z-index:9999;
 	display: none;
    text-align: left;
    margin0;padding:0;
    padding-left: 23px;
    font-size: 10px;
    line-height: 13px;
 }
 
 #global-layout a.widget_action_move_up,
 #global-layout a.widget_action_move_down,
 #global-layout a.widget_action_refresh,
 #global-layout a.widget_action_edit, 
 #global-layout a.widget_action_delete,
 #global-layout a.widget_action_admin {
 	display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;margin:0;
    margin-left: 7px;
  }
 .widget_action_move_up{
    background:url(../../images/icons/widget/move-up.png) no-repeat top left;
 }
 .widget_action_move_down{
    background:url(../../images/icons/widget/move-down.png) no-repeat top left;
 }
 .widget_action_refresh{
    background:url(../../images/icons/widget/refresh.png) no-repeat top left;
 }
 .widget_action_edit{
    background:url(../../images/icons/widget/edit.png) no-repeat top left;
 }
 .widget_action_delete{
    background:url(../../images/icons/widget/delete.png) no-repeat top left;
 }
 .widget_action_admin, .block_action_admin {
    background:url(../../images/icons/widget/admin.png) no-repeat top left;
 }
 .block_action_import {
    background:url(../../images/icons/widget/import.png) no-repeat top left;
 } 
 
/* BALISES IDOINE FOR IE */
 orchestra, searchlucene {
  display:block;
}