#pi_page_bar_toggler {
	position: fixed;
	left: 0;
	top:50%;margin-top: -50px;
	width: 30px;
	height: 100px;
	background: url(../images/bar_togglers.png) top left no-repeat;
	cursor: pointer;
	border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	-webkit-border-radius: 0 8px 8px 0;
	box-shadow: 2px 0 5px #888;
	-moz-box-shadow: 2px 0 5px #888;
	-webkit-box-shadow: 2px 0 5px #888;
	z-index: 16777270;
	cursor: help;
}
#pi_page_bar_toggler:hover {
	background-position: -30px +0;
}

#pi_media_bar_toggler {
	position: fixed;
	right: 0;
	top:50%;margin-top: -50px;
	width: 30px;
	height: 100px;
	background: url(../images/bar_togglers.png) top left no-repeat;
	background-position: 0 -100px;
	cursor: pointer;
	border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 0 0 8px;
	box-shadow: -2px 0 5px #888;
	-moz-box-shadow: -2px 0 5px #888;
	-webkit-box-shadow: -2px 0 5px #888;
	z-index: 16777270;
	cursor: help;
}
#pi_media_bar_toggler:hover {
	background-position: -30px -100px;
}