<?xml version="1.0" encoding="UTF-8" ?>

<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing http://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="admin_gedmo_menu" pattern="/">
        <default key="_controller">PiAppGedmoBundle:Menu:index</default>
    </route>

    <route id="admin_gedmo_menu_show" pattern="/{id}/show">
        <default key="_controller">PiAppGedmoBundle:Menu:show</default>
    </route>

    <route id="admin_gedmo_menu_new" pattern="/new">
        <default key="_controller">PiAppGedmoBundle:Menu:new</default>
    </route>

    <route id="admin_gedmo_menu_create" pattern="/create">
        <default key="_controller">PiAppGedmoBundle:Menu:create</default>
        <requirement key="_method">post</requirement>
    </route>

    <route id="admin_gedmo_menu_edit" pattern="/{id}/edit">
        <default key="_controller">PiAppGedmoBundle:Menu:edit</default>
        <requirement key="id">\d*</requirement>
    </route>

    <route id="admin_gedmo_menu_update" pattern="/{id}/update">
        <default key="_controller">PiAppGedmoBundle:Menu:update</default>
        <requirement key="_method">post</requirement>
    </route>

    <route id="admin_gedmo_menu_delete" pattern="/{id}/delete">
        <default key="_controller">PiAppGedmoBundle:Menu:delete</default>
        <requirement key="_method">post</requirement>
    </route>
    
    <route id="admin_gedmo_menu_knp" pattern="/knp">
        <default key="_controller">PiAppGedmoBundle:Menu:knp</default>
    </route>
    
    <route id="admin_gedmo_menu_tree" pattern="/{category}/tree">
        <default key="_controller">PiAppGedmoBundle:Menu:tree</default>
        <requirement key="category">.*</requirement>
    </route>        
    
    <route id="admin_gedmo_menu_move_up" pattern="/{id}/node/{category}/move-up">
        <default key="_controller">PiAppGedmoBundle:Menu:moveUp</default>
        <requirement key="category">.*</requirement>
    </route>
    
    <route id="admin_gedmo_menu_move_down" pattern="/{id}/{category}/node/move-down">
        <default key="_controller">PiAppGedmoBundle:Menu:moveDown</default>
        <requirement key="category">.*</requirement>
    </route>
    
    <route id="admin_gedmo_menu_node_remove" pattern="/{id}/{category}/node/remove">
        <default key="_controller">PiAppGedmoBundle:Menu:remove</default>
        <requirement key="category">.*</requirement>
    </route>

</routes>