body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:'';}
abbr,acronym{border:0}

a{display:block}

.clearer,.clearing{clear:both;float:none;font:normal 1px/1px arial;}

html{background:url("orchestra/document-bg.png") transparent}
.main-content{background:url("orchestra/body-bg.png") repeat-y transparent;margin:0 auto;padding:215px 0 158px;position:relative;top:-1000px;width:927px}
h1{background:url("orchestra/header-bg.png") no-repeat center center transparent;font-size:0;height:180px;position:absolute;right:0;text-indent:-9999;top:0;width:936px}
h2{font-size:26px;font-weight:normal;line-height:40px;}
h3{color:#333;font-size:16px;font-weight:bold;line-height:40px;}
p{color:#666;font-size:14px;margin-bottom:15px;}
.logo{left:73px;position:absolute;top:53px;-moz-transition-duration:0.8s;-moz-transition-timing-function:ease-in-out;-webkit-transition-duration:0.8s;-webkit-transition-timing-function:ease-in-out;transition-duration:0.8s;transition-timing-function:ease-in-out}
.logo:hover {-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.githublink{font-size:0;height:135px;position:absolute;right:14px;text-indent:-9999;top:0;width:135px}
.content{width:330px;}
.leftcontent{float:left;margin-left:95px}
.rightcontent{float:right;margin-right:87px}
.firststyle{background:url("orchestra/firststyle.png") no-repeat right center transparent;height:40px;margin-bottom:10px}
.secondstyle{background:url("orchestra/secondstyle.png") no-repeat right center transparent;height:40px;margin-bottom:10px}
.orchestra-title{background:url("orchestra/orchestra-title.png") no-repeat left center transparent;font-size:0;height:40px;text-indent:-9999}
.box{background:url("orchestra/box.png") no-repeat center center transparent;height:96px;margin-bottom:40px;padding-top:10px;text-align:center;width:317px}
.box p{color:#666;font-size:16px}
.box div{background:url("orchestra/dl-btn.png") no-repeat center center transparent;height:43px;margin:0 auto;width:168px;}
.box a{color:#fff;font-size:16px;font-weight:bold;height:36px;line-height:36px;margin:0 auto;overflow:hidden;position:relative;text-decoration:none;width:168px;}
.box a:hover{text-decoration:none;}
.box a span{background:url("orchestra/dl-btn-arrow.png") no-repeat center center transparent;display:block;height:28px;position:absolute;right:18px;top:1px;width:20px;}
.contact{background:url("orchestra/contact.png") no-repeat center center transparent;color:#fff;font-size:16px;font-weight:bold;height:43px;line-height:35px;margin:0 auto;text-align:center;text-decoration:none;text-transform:uppercase;width:168px;}
.contact:hover{text-decoration:none;}
.footer{background:url("orchestra/footer.png") no-repeat scroll center center transparent;bottom:-14px;height:75px;left:14px;padding-top:83px;position:absolute;text-align:center;width:899px}
.footer p, .footer a{color:#999;font-size:11px}
.footer a{display:inline}