<fos_facebook:api
      file="%kernel.root_dir%/../vendor/facebook/src/base_facebook.php"
      alias="Orchestra"
      app_id="333501983393855"
      secret="186c7f8b3c1980cfe9d9d18abf4be176"
      cookie="true"
  >
        <permission>email</permission>
        <permission>user_birthday</permission>
        <permission>user_location</permission>
  </fos_facebook:api>