<div id="form-connexion-request-response">
	<section class="forgotten-password">
		<header class="tt-grey resetM">
			<h3 class="uppercase bold tt-10">Mot de passe oublié ?</h3>
		</header>
		<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
	</section>
</div>
