/*******************************************************
 * Development by
 * <etienne de Longeaux> <etienne.delongeaux@gmail.com>
 *******************************************************/
 
#itsthetable {
	background: #F0F0F0;
	padding: 20px;
}

table.grid {
	border-collapse: collapse;
	font-family: verdana, arial, sans-serif;
	font-size: 0.75em;
	line-height: 2em;
	border: 1px solid #363;
}

table.grid td,table.grid th {
	padding: 0 0.5em;
	border-top: 1px solid #ddd;
}

table.grid tr.odd {
	background: #fff;
}

table.grid th {
	background: #5E7796; /* 5E7796 839965 5E7796*/
}

table.grid caption,table.grid tfoot {
	font-family: georgia, "times new roman", serif;
	font-size: 3em;
	line-height: 2em;
	height: 2em;
	padding-right: 0.25em;
	text-align: right;
	color: #4F6480; /* 363 4F6480 */
	border: 1px solid #ddd;
}

table.grid  caption span.numberfield {font-size: 11px;}

table.grid tfoot {
	font-size: 1em;
}

table.grid tfoot th {
	background: #fff;
	color: #363;
	font-weight: normal;
}

table.grid thead tr {
	color: #fff;
	height: 4em;
}

table.grid thead tr th:first-child {
	color: #fc6;
	border-right: 1px solid #000;
	text-align: right;
	padding-right: 1.5em;
}

table.grid thead th a {
	border: 0;
	color: #f18200;
}

table.grid thead th a:hover {
	border: 0;
	border-bottom: 1px dotted #000;
	color: #fff;
}

table.grid tbody th {
	padding: 0;
	border-right: 1px solid #fff;
	border-top: 1px solid #000;
	width: 16em;
	vertical-align: middle;
}

table.grid tbody tr.odd th {
	border-right: 1px solid #eee;
}

table.grid tbody td {
	color: #363;
	vertical-align: middle;
	height: 4em;
}

table.grid tbody th a {
	color: #f18200;
	text-decoration: none;
	border-right: 0.8em solid #f18200;
	font-weight: normal;
	text-align: right;
	padding-right: 0.5em;
	float: right;
	border-top: 0.8em solid #5E7796;
	border-bottom: 0.8em solid #5E7796;
}

table.grid tbody tr th a:hover {
	color: #fff;
	border-right: 0.8em solid #eee;
}

table.grid tbody tr.odd th a:hover {
	color: #fff;
	border-right: 0.8em solid #fff;
}

table.grid tbody tr th a:visited {
	border-right: 0.8em solid #fff;
}

table.grid tbody tr.odd th a:visited {
	border-right: 0.8em solid #eee;
}

table.grid tbody td a {
	color: #000;
	font-weight: normal;
	border: 0;
}

table.grid tbody td a:hover {
	color: #f18200;
	font-weight: normal;
	text-decoration: none;
}

table.grid tbody td a:visited {
	color: #000;
	font-weight: normal;
	text-decoration: line-through;
}

table.grid a {
	color: #f18200;
}

table.grid a:hover {
	color: #000;
}

table.grid a img {
	border: 0;
}

#paginglinks {
	margin: 5px auto 5px auto;
	clear: both;
	color: #000;
	font-size: 1em;
	text-transform: uppercase;
}

.pagelink,.pagelinklast,.pagecurrent {
	background: #fff;
	border: 1px solid #212121;
	padding: 1px 3px 1px 3px;
}

.pagelinklast {
	background: #999;
}

.pagecurrent {
	background: #999;
}

table.grid tfoot span.pagelink a,table.grid tfoot span.pagelinklast a {
	border: 0;
	color: #000;
	text-decoration: none;
}

table.grid tfoot span.pagelink a:hover,table.grid tfoot span.pagelinklast a:hover
	{
	border: 0;
	border-bottom: 1px dotted #000;
	color: #000;
}