/*******************************************************
 * Development by
 * <etienne de Longeaux> <etienne.delongeaux@gmail.com>
 *******************************************************/
 
table.grid {
  display:table; 
  font-family:verdana, arial, sans-serif; 
  font-size:76%; 
  line-height:1.7em; 
  background:#888; 
  border:10px solid #eee;
  } 
table.grid :before {
  content:"  "; 
  font-size:0.8em; 
  margin-left:1em; 
  color:#ccc;
  }
table.grid tbody {
  display:table-row-group;
  }
  
  table.grid  span.numberfield {font-size: 11px;}
  
table.grid tr {
  display:table-row; 
  padding:0.5em; 
  background:#fff; 
  border:10px solid #aaa; 
  border-width:1px 200px 0 50px; 
  border-color:#000 #888 #000 #888; 
  margin:2px 25px; 
  width:300px;
  } 
table.grid tr.odd {
  background:#eee;
  }
table.grid td, table.grid th {
  display:table-cell; 
  padding:0.2em;
  }
table.grid table, table.grid tbody, table.grid tr, table.grid td, table.grid th {
  display:block;
  } 
table.grid thead, table.grid tfoot {
  display:none;
  }
* html thead, * html tfoot {
  display:block;
  }
table.grid th {
  background:#abc;
  }
table.grid th a {
 display:block; 
 font-size:1.5em; 
 font-family:georgia, "times new roman", serif; 
 color:#000; 
 text-decoration:none; 
 border-left:5px solid #fff; 
 padding-left:1em;
 }
table.grid th a:hover {
  border-left:5px solid #000; 
  color:#fff;
  }
table.grid td {
  color:#00a;
  }
table.grid td:before {
  content:"Written by:"; 
  font-style:italic; 
  font-size:0.8em; 
  margin-right:1em; 
  color:#c00;
  }
table.grid td + td:before {
  content:"From:";
  }
table.grid td + td + td:before {
  content:"About this style:";
  }
table.grid td + td + td + td:before {
  content:"For a copy of the CSS: ";
  }
table.grid td + td + td {
  color:#060;
  }
table.grid tr:hover {
  background:#bcd;
  }


table.grid a img {
	border: 0;
}

#paginglinks {
	margin: 5px auto 5px auto;
	clear: both;
	color: #5d99a3;
	font-size: 0.6em;
	text-transform: uppercase;
}

.pagelink,.pagelinklast,.pagecurrent {
	background: #fff;
	padding: 1px 3px 1px 3px;
}

.pagelinklast {
	background-color: transparent;
}

.pagecurrent {
	color: #d9eaed;
	border: 0;
	border-width: 1px;
	border-bottom: 0.2em solid #666;
	font-size: 1em;
	padding: 0.6em 1.2em;	
	text-shadow: 0 0 0.1em #222;
	cursor: pointer;
	background-color: #294145;
	-moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-moz-border-radius: 10.2em;
	-webkit-border-radius: 10.2em;
}

.pagelink a img, .pagelinklast a img {
	margin-bottom: -6px;
}

table.grid tfoot span.pagelink a,table.grid tfoot span.pagelinklast a {
	border: 0;
	color: #d9eaed;
	border-width: 1px;
	border-bottom: 0.2em solid #666;
	font-size: 1em;
	padding: 0.3em 0.6em;		
	text-decoration: none;
	text-shadow: 0 0 0.1em #222;
	cursor: pointer;
	background-color: #5d99a3;
	-moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-moz-border-radius: 10.2em;
	-webkit-border-radius: 10.2em;	
}

table.grid tfoot span.pagelink a:hover,table.grid tfoot span.pagelinklast a:hover
	{
	border: 0;
	border-width: 1px;
	border-bottom: 0.2em solid #666;
	font-size: 1em;
	padding: 0.3em 0.6em;	
	text-shadow: 0 0 0.1em #222;
	cursor: pointer;
	background-color: #294145;
	-moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-moz-border-radius: 10.2em;
	-webkit-border-radius: 10.2em;
}