/*******************************************************
 * Development by
 * <etienne de Longeaux> <etienne.delongeaux@gmail.com>
 *******************************************************/
 
#itsthetable {
	padding: 20px;
}

table.grid {
	font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
	border-collapse: inherit;
	color: #333;
	background-color: #F3F5F7;
	width: 100%;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;	
}

table.grid  a {
	color: #3A4856;
	text-decoration: none;
	border-bottom: 1px solid #C6C8CB;
}

table.grid  a:visited {
	color: #777;
}

table.grid  a:hover {
	color: #000;
}

table.grid  caption {
	text-align: left;
	text-transform: uppercase;
	padding-bottom: 10px;
	font: 200% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS",
		sans-serif;
}

table.grid  caption span.numberfield {font-size: 11px;}

table.grid  thead th {
	background: #fff;
	padding: 15px 10px;
	color: #5d99a3;
	text-align: left;
	font-weight: normal;
}

table.grid  thead img {
	margin-bottom: -5px;
}

table.grid  tbody {
	border-bottom: 1px solid #EAECEE;
}

table.grid  tbody td,table.grid  tbody th {
	padding: 5px 0.5em 5px 5px;
	text-align: left;
}

table.grid  tbody tr {
	background: #F3F5F7;
}

table.grid  tbody tr.odd {
	background: #F0F2F4;
}

table.grid  tbody  tr:hover {
	background: #5d99a3;
	color: #111;
}  /* 4F6480 EAECEE */
table.grid  tfoot td,table.grid  tfoot th,table.grid  tfoot tr {
	text-align: left;
	font: 120% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
	text-transform: uppercase;
	background: #fff;
	padding: 10px;
}

table.grid thead th a {
	border: 0;
	color: #f18200;
}

table.grid thead th a:hover {
	border: 0;
	border-bottom: 1px dotted #000;
	color: #5d99a3;
}

table.grid tbody tr th a:hover {
	color: #000;
	border: 0;
}

table.grid tbody tr.odd th a:hover {
	color: #000;
	border: 0;
}

table.grid tbody td a {
	color: #000;
	font-weight: normal;
	border: 0;
}

table.grid tbody td a:hover {
	color: #f18200;
	font-weight: normal;
	text-decoration: none;
}

table.grid tbody td a:visited {
	color: #000;
	font-weight: normal;
	text-decoration: line-through;
}

table.grid a {
	color: #f18200;
}

table.grid a:hover {
	color: #000;
}

table.grid a img {
	border: 0;
}

#paginglinks {
	margin: 5px auto 5px auto;
	clear: both;
	color: #5d99a3;
	font-size: 0.6em;
	text-transform: uppercase;
}

.pagelink,.pagelinklast,.pagecurrent {
	background: #fff;
	padding: 1px 3px 1px 3px;
}

.pagelinklast {
	background-color: transparent;
}

.pagecurrent {
	color: #d9eaed;
	border: 0;
	border-width: 1px;
	border-bottom: 0.2em solid #666;
	font-size: 1em;
	padding: 0.6em 1.2em;	
	text-shadow: 0 0 0.1em #222;
	cursor: pointer;
	background-color: #294145;
	-moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-moz-border-radius: 10.2em;
	-webkit-border-radius: 10.2em;
}

.pagelink a img, .pagelinklast a img {
	margin-bottom: -6px;
}

table.grid tfoot span.pagelink a,table.grid tfoot span.pagelinklast a {
	border: 0;
	color: #d9eaed;
	border-width: 1px;
	border-bottom: 0.2em solid #666;
	font-size: 1em;
	padding: 0.3em 0.6em;		
	margin:-5px;
	text-decoration: none;
	text-shadow: 0 0 0.1em #222;
	cursor: pointer;
	background-color: #5d99a3;
	-moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-moz-border-radius: 10.2em;
	-webkit-border-radius: 10.2em;	
}

table.grid tfoot span.pagelink a:hover,table.grid tfoot span.pagelinklast a:hover
	{
	border: 0;
	border-width: 1px;
	border-bottom: 0.2em solid #666;
	font-size: 1em;
	padding: 0.3em 0.6em;	
	text-shadow: 0 0 0.1em #222;
	cursor: pointer;
	background-color: #294145;
	-moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-moz-border-radius: 10.2em;
	-webkit-border-radius: 10.2em;
}

table.grid span.field_block_button {
	float: right;
	margin-left:-10px;
}

table.grid button.field_update_button, table.grid input.field_update_button 
	{
	border-width: 1px;
	border-bottom: 0.2em solid #666;
	font-size: 1em;
	padding: 0.3em 0.6em;
	color: #fff;
	line-height: 1;
	text-shadow: 0 0 0.1em #222;
	cursor: pointer;
	background-color: #294145;
	-moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-moz-border-radius: 10.2em;
	-webkit-border-radius: 10.2em;	
}

table.grid  input.field_value_button {
	text-align: center;
	padding:0;
	height: 14px;
	-moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.5);
	-moz-border-radius: 10.2em;
	-webkit-border-radius: 10.2em;		
}
