
/* FONT */

@font-face {
    font-family: 'MyriadWebPro';
		src:  url('../media/font/mpro.eot');
		src: url('../media/font/mpro.eot?#iefix') format('embedded-opentype'),
				 url('../media/font/mpro.woff') format('woff'),
				 url('../media/font/mpro.ttf') format('truetype'),
				 url('../media/font/mpro.svg#mpro') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
			font-family: 'MyriadWebPro-Bold';
			src: url('../media/font/myriadwebpro-bold.eot');
			src: url('../media/font/myriadwebpro-bold.eot?#iefix') format('embedded-opentype'),
					 url('../media/font/myriadwebpro-bold.woff') format('woff'),
					 url('../media/font/myriadwebpro-bold.ttf') format('truetype'),
					 url('../media/font/myriadwebpro-bold.svg#myriadwebpro-bold') format('svg');
			font-weight: normal;
			font-style: normal;
	}

@font-face {
		font-family: 'MyriadWebPro-CondensedItalic';
		src: url('../media/font/myriadwebpro-condenseditalic.eot');
		src: url('../media/font/myriadwebpro-condenseditalic.eot?#iefix') format('embedded-opentype'),
				 url('../media/font/myriadwebpro-condenseditalic.woff') format('woff'),
				 url('../media/font/myriadwebpro-condenseditalic.ttf') format('truetype'),
				 url('../media/font/myriadwebpro-condenseditalic.svg#myriadwebpro-condenseditalic') format('svg');
		font-weight: normal;
		font-style: normal;
}

blockquote{
	font-family: 'MyriadWebPro-CondensedItalic';
	font-size:0.9em;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
	border-left: 3px solid #ccc;
}

/* =============================================================================
    OOCSS
   ========================================================================== */

.title-border{
  background: url("../media/img/body/title-border.jpg") repeat-x scroll 0 35% transparent;
}

.ajust-title{
    background-position: 0 50%
}
    header .title-border a:hover{
      color:#A3297E;
    }

  .title-border > *{
    background-color:#fff;
    display: block;
    padding-right:10px;
    margin:0;
    line-height: 1.1;/* reset du line height de la .polaroid*/
  }

      .title-border > a{
        color:#aeaeae;
        clear:left;
        font-size:1em;
        background: url(../media/img/body/HP/+.jpg) no-repeat 0 50% transparent;
        padding-left: 15px;
      }

.title-border-simple{
  background: url("../media/img/body/title-border.jpg") repeat-x scroll 0 50% transparent;
}

  .title-border-simple >*{
       background-color: #fff;
       padding-right: 10px;
  }

    .title-border-bot{
      border-bottom:1px solid #d1d1d1;
      margin-bottom:10px;
    }
      .title-border-bot *{
        margin-bottom:5px;
      }

.tt-1{
  font-size: 2em;
  color:#424242;
  letter-spacing: -1px
}

.tt-2{
  font-size: 1.625em;
    letter-spacing: -1px
}

.tt-3{
  font-size: 1.56em;
    letter-spacing: -1px
}

.tt-4{
  font-size: 1.5em;
   letter-spacing: -1px
}

.tt-5{
  font-size: 1.375em;
   letter-spacing: -1px;
}
  .tt-5 span{
    font-weight: bold;
    font-size: 1.5em
  }

.tt-6{
  font-size: 1.375em;
  font-family: arial
}

.tt-7{
  font-size: 1.3em;
}

.tt-8{
  font-size: 1.25em;
}

.tt-9{
  font-size: 1.125em
}

.tt-10{
  font-size: 1em;
}

.tt-11{
  font-size: 0.82em;
  font-family: arial;
  padding:5px;
  background-color:#a3297e;
  color:#fff; 
  display:inline-block;
  letter-spacing: 0;
  line-height:1;
}
  .ie7 .tt-11{
    display:inline;
  }

.tt-12{
  font-size: 0.82em;
  font-family: arial;
  padding:5px;
  background-color:#C13218;
  color:#fff; 
  display:inline-block;
  letter-spacing: 0
}

 .ie7 .tt-12{
    display:inline;
  }

.tt-orange{
   background-color: #FF7E00;
    color: #FFFFFF;
    display: inline-block;
    font-size: 0.875em;
    padding: 7px;
    margin-bottom:0;
    line-height: 1
}

.tt-orange a,
.tt-purple a, 
.tt-red a{
  color:#fff;
}

.tt-purple{
    background-color: #A3297E;
    color: #FFFFFF;
    display: inline-block;
    font-size: 0.875em;
    padding: 7px;
    margin-bottom:0;
    line-height: 1.2
}

.tt-red{
    background-color:#C13218;
    color: #FFFFFF;
    display: inline-block;
    font-size: 0.875em;
    padding: 7px;
    margin-bottom:0;
    line-height: 1.2
}

.tt-grey{
  background-color: #424242;
  line-height: 45px;
  padding-left:10px;
}
  .tt-grey *{
    color:#fff;
  }
  
.ie7 .tt-orange,
.ie7 .tt-purple{
  display: inline
}

/* TINYMCE */

#tinymce .i-block, #page .i-block{display:inline-block;}

.ie7 #tinymce .i-block, .ie7 #page .i-block{display: inline}

#tinymce .iline, #page .iline{display:inline;}

#tinymce .top-align, #page .top-align{vertical-align: top}

#tinymce .bottom-align, #page .bottom-align{vertical-align: bottom}

#tinymce .middle-align, #page .middle-align{vertical-align: middle}

#tinymce .resetFl, #page .resetFl{float:none;}

#tinymce .clear, #page .clear{clear:both}

#tinymce .fright, #page .fright{float:right;}

#tinymce .fleft, #page .fleft{float:left;}

#tinymce .rel, #page .rel{position:relative;}

/* MARGE PADDING*/

#tinymce .resetM, #page .resetM{ margin:0;}

#tinymce .resetP, #page .resetP{padding:0;}

#tinymce .resetRight, #page .resetRight{margin-right:0}

/* TEXT */

#tinymce .uppercase, #page .uppercase{text-transform: uppercase}

#tinymce .lowercase, #page .lowercase{text-transform: lowercase}

#tinymce .txtcenter, #page .txtcenter{text-align: center}

#tinymce .txtjustify, #page .txtjustify{text-align: justify}

#tinymce .txtright, #page .txtright{ text-align: right}

#tinymce .txtleft, #page .txtleft{text-align: left}

#tinymce .underline, #page .underline{text-decoration: underline}

#tinymce .italic, em, #page .italic, em{font-family: 'MyriadWebPro-CondensedItalic'; letter-spacing:1px; font-style:normal;}

   .ie7 #tinymce .italic, .ie7 #page .italic{font-style:italic;}

#tinymce .light, #page .light{font-weight: normal}

#tinymce .bold, #page .bold{font-family: 'MyriadWebPro-Bold';}

  .ie7 #tinymce .bold, .ie7 #page .bold{font-weight:bold;}

  .ie8 #tinymce .bold, .ie8 #page .bold{font-weight:bold;}

#tinymce .half, #page .half{width:50% }

/* SKIN */

#tinymce .resetBg, #page .resetBg{background:none;}

#tinymce .resetBorder, #page .resetBorder{border:0 none;}

#tinymce .tt-clr, #page .tt-clr{color: #a3297e}

#tinymce .dark-clr, #page .dark-clr{color:#424242}

#tinymce .mid-clr, #page .mid-clr{color:#c13218}

#tinymce .light-clr, #page .light-clr{color: #999999}

/* SBLA AJOUT POUR TINYMCE STYLESLECT */
#tinymce ul li, #page .bloc-generic ul li{ list-style-type: inherit; list-style-position: inside;}
ul.roseDisc > li{ list-style: none inside url(../media/img/body/puce_rose.png) ; float:none;}
ol > li{ list-style: decimal inside none;}