/*******************************************************
 * Development by
 * <etienne de Longeaux> <etienne.delongeaux@gmail.com>
 *******************************************************/
 
#itsthetable {
	background: #F0F0F0;
	padding: 20px;
}

table.grid {
	width: 100%;
	border-collapse: inherit;
	border-spacing: 0px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;	
	margin: 11px;
}

table.grid a,table.grid,table.grid tbody,table.grid tfoot,table.grid tr,table.grid th,table.grid td
	{
	font-family: Arial, Helvetica, sans-serif;
}

table.grid caption {
	font-size: 1.8em;
	text-align: left;
	text-indent: 100px;
	background: url(../../images/grid/redblack/bg_caption.gif) left top;
	height: 40px;
	color: #FFFFFF;
	border: 1px solid #000000;
}

table.grid  caption span.numberfield {font-size: 11px;}

table.grid thead th {
	background: url(../../images/grid/redblack/bg_th.gif) left;
	height: 21px;
	color: #fff;
	font-size: 0.8em;
	font-family: Arial;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left;
}

table.grid tbody tr {
	background: #ffffff;
}

table.grid tbody tr.odd {
	background: #f0f0f0;
}

table.grid tbody th {
	background: url(../../images/grid/redblack/arrow_white.gif) left center	no-repeat;
	background-position: 5px;
	padding-left: 40px !important;
	width: 400px;
}

table.grid tbody tr.odd th {
	background: url(../../images/grid/redblack/arrow_grey.gif) left center no-repeat;
	background-position: 5px;
	padding-left: 40px !important;
}

table.grid tbody th,table.grid tbody td {
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	padding: 5px 7px;
	border-bottom: 1px solid #000000;
	text-align: left;
	
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	-o-transition: background 0.1s linear;
	transition: background 0.1s linear;		
}

table.grid tbody tr:hover th {
	background: #800000 url(../../images/grid/redblack/arrow_red.gif) left center no-repeat;
	background-position: 5px;
	color: #ffffff;
}

table.grid tbody tr.odd:hover th {
	background: #800000 url(../../images/grid/redblack/arrow_red.gif) left center no-repeat;
	background-position: 5px;
	color: #ffffff;
}

table.grid tbody tr:hover th a,table.grid tr.odd:hover th a {
	color: #ffffff;
}

table.grid tbody tr:hover td,table.grid tr:hover td a,table.grid tr.odd:hover td,table.grid tr.odd:hover td a
	{
	background-color: #000000;
	color: #ffffff;
}

table.grid tbody tr.odd:hover td,table.grid tr.odd:hover td a {
	background-color: #000000;
	color: #ffffff;
}

table.grid tfoot th,table.grid tfoot td {
	background: #ffffff url(../../images/grid/redblack/bg_footer.gif) repeat-x bottom;
	font-size: 0.8em;
	color: #ffffff;
	height: 21px;
}

table.grid thead th a {
	border: 0;
	color: #fff;
	text-decoration: none;
}

table.grid thead th a:hover {
	border: 0;
	border-bottom: 1px dotted #fff;
	color: #fff;
}

table.grid tfoot th a {
	border: 0;
	color: #fff;
	text-decoration: none;
}

table.grid tfoot th a:hover {
	border: 0;
	border-bottom: 1px dotted #fff;
	color: #fff;
}

table.grid tbody tr th a,table.grid tbody tr.odd th a {
	color: #000;
	font-weight: normal;
	border: 0;
	text-decoration: none;
}

table.grid tbody tr th a:hover,table.grid tbody tr.odd th a:hover {
	color: #238BDB;
	font-weight: normal;
	text-decoration: none;
}

table.grid tbody tr td a,table.grid tbody tr.odd td a {
	color: #000;
	border: 0;
}

table.grid tbody tr td a:hover,table.grid tbody tr.odd td a:hover {
	color: #238BDB;
}

table.grid a {
	color: #000;
}

table.grid a:hover {
	color: #000;
}

table.grid a img {
	border: 0;
}

#paginglinks {
	margin: 5px auto 0px auto;
	clear: both;
	font-size: 0.9em;
	text-transform: uppercase;
}

.pagelink,.pagelinklast,.pagecurrent {
	background: #fff;
	border: 1px solid #212121;
	padding: 1px 3px 1px 3px;
}

.pagelinklast {
	background: #999;
}

.pagecurrent {
	background: #999;
}

table.grid tfoot span.pagelink a,table.grid tfoot span.pagelinklast a {
	border: 0;
	color: #000;
	text-decoration: none;
}

table.grid tfoot span.pagelink a:hover,table.grid tfoot span.pagelinklast a:hover
	{
	border: 0;
	border-bottom: 1px dotted #000;
	color: #000;
}

/********************************
 *
 * OPTIONAL SET ATTRIBUTES FOR THE FOOTER BUTTON
 *
 ********************************/	
ul.record_actions {
    -moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.05);
    -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.05);
    box-shadow: inset 1px 1px 0 rgba(255,255,255,0.05);
    border: 1px solid #404040;
    background-color: #242122;
	border: 1px solid #d0d0d0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	-moz-box-shadow: 4px 4px 4px #ddd;
	-webkit-box-shadow: 4px 4px 4px #ddd;
	box-shadow: 4px 4px 4px #ddd;	    
    font-weight: normal;
    color: #fafafa;	
}
ul.record_actions {
	border: solid 1px #aaa;
	text-align: center;
	white-space: nowrap;
	letter-spacing: 35px;
	line-height: 12px;
	overflow: hidden;
	width: 100%;
}
ul.record_actions li {
	display: inline-block;
	letter-spacing: normal;
	font-size: normal;
	white-space: normal;
	text-align: normal;
	vertical-align: middle;
	margin: 10px;
}
ul.record_actions li {
	*display: inline;
	*margin: 0 20px 0 20px;
}


/********************************
 *
 * ACTION
 *
 ********************************/
a.icon-1	{
	background: url(../../images/table/table_icon_1.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-1	{
	background: url(../../images/table/table_icon_1.gif) 0 -24px;
	}
a.icon-2	{
	background: url(../../images/table/table_icon_2.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-2	{
	background: url(../../images/table/table_icon_2.gif) 0 -24px;
	}
a.icon-3	{
	background: url(../../images/table/table_icon_3.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-3	{
	background: url(../../images/table/table_icon_3.gif) 0 -24px;
	}
a.icon-4	{
	background: url(../../images/table/table_icon_4.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-4	{
	background: url(../../images/table/table_icon_4.gif) 0 -24px;
	}
a.icon-5	{
	background: url(../../images/table/table_icon_5.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
a:hover.icon-5	{
	background: url(../../images/table/table_icon_5.gif) 0 -24px;
	}
	

/********************************
 *
 * TOOLTP
 *
 ********************************/	
#tooltip	{
	background-color: #8c8c8c;
	border: 1px solid #767676;
	color: #fff;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	opacity: 0.85;
	padding: 0 5px;
	position: absolute;
	text-align: left;
	z-index: 3000;
}
#tooltip h6, #tooltip div	{
	font-family: Arial;
	font-size: 11px;
	line-height: 20px;
	margin: 0;
}	