{% if entity.pageurl.getRouteName() is defined %}
	{% set url = path_url(entity.pageurl.getRouteName(),{'locale':locale}) %}
{% elseif entity.url is not empty %}
	{% set url = entity.url %}
{% else %}
	{% set url = "#" %}
{% endif %}                                                         
<section class="bloc-generic tpl-4 cf">
	<div class="wrap">
		<a href="{{ url }}">
			<figure>
				{% if entity.media.image.id is defined %}
				<img src="{{ media_url(entity.media.image.id, 'reference', true, entity.media.getUpdatedAt(), 'block_') }}" title="" alt="" />
				{% endif %}
			</figure>
			<h4>{{ entity.getTitle()|replace({'<p>': '', '</p>': ''})|raw }}</h4>
			{{ entity.translate(locale).getDescriptif()|raw }}
		</a>
	</div>
</section>			
