#pi_tree-boxes-cadre{
	position: absolute;
	display: none;
	top: 0; 
	height:100%;
	background-color: #fff;  /* #584801 */
	opacity:0.89;filter:alpha(opacity=60);
	border: 2px solid #000;
	-moz-box-shadow: 0 0 30px #999 inset;
	-webkit-box-shadow: 0 0 30px #999 inset;
	box-shadow: 0 0 30px #999 inset;
	z-index:1000000;
}
.pi_menuright {
	position: absolute;
	right: 0%;
}
