<section class="bloc-mySpace">
			<div class="wrap">
				<nav class="tab-nav">
					<ul class="cf">
		             	<li class="">
		                	<a href="#service-adh">Services aux <br>adhérents</a>
		                </li>
						
		                <li class="active">
		                	<a href="#newsletter">Mes <br>newsletter</a>
		                </li>
		                <li class="">
		                	<a href="#flux-rss">Mes Flux<br>RSS</a>
		                </li>
		                <li class="">
		                	<a href="#event">Mes <br> évènements</a>
		                </li>
		                <li class="">
		                	<a href="#annonces">Mes <br>annonces</a>
		                </li>
		                 <li class="">
		                	<a href="#profil">Mon<br>profil</a>
		                </li>
		                  <li class="last">
		                	<a href="#collaborateur">Mes<br> collaborateurs</a>
		                </li>
					</ul>
				</nav>
				
				<div class="tab-content-wrap" style="height: 1495px;">
					<section id="service-adh" class="cf " style="display: none;">
						<div class="wrap cf">
							<header class="resetM">
								<h3 class="tt-5 tt-clr bold">Mes services</h3>
								<p>Vous avez 3 services</p>
							</header>
							
						</div>
					</section>

					<section id="annonces" class="cf hidden" style="display: none;">
						<div class="wrap cf">
							<header class="resetM">
								<h3 class="tt-5 tt-clr bold">Mes annonces</h3>
								<p>Vous avez 3 annonces</p>
							</header>
							<ul>
								<li class="job-post-it fleft">
									<header class="resetM">
										<h3 class="tt-orange bold uppercase"><a href="#">Place de marché</a></h3>
										<div class="locked"></div>
									</header>

									<section class="post-it">

										<p><a class="tt-clr" href="#">Je recherche</a></p>
										<h4 class="tt-8 bold"><a class="tt-clr" href="#">Designer pour projets Collaboratifs</a></h4>
									
									</section>
									<footer>
										<p><a href="#">Posté par <strong>pseudo</strong> le 12 juillet 2012</a></p>
										<ul class="cf resetM tag">
											<li><a href="#" class="light-clr">Tag1</a></li>
											<li class="last"><a class="light-clr" href="#">Tag2</a></li>
										</ul>
									</footer>	
							
								</li>
								<li class="job-post-it fleft">
									<header class="resetM">
										<h3 class="tt-orange bold uppercase"><a href="#">Place de marché</a></h3>
										<div class="locked"></div>
									</header>

									<section class="post-it">

										<p><a class="tt-clr" href="#">Je recherche</a></p>
										<h4 class="tt-8 bold"><a class="tt-clr" href="#">Designer pour projets Collaboratifs</a></h4>
									
									</section>
									<footer>
										<p><a href="#">Posté par <strong>pseudo</strong> le 12 juillet 2012</a></p>
										<ul class="cf resetM tag">
											<li><a href="#" class="light-clr">Tag1</a></li>
											<li class="last"><a class="light-clr" href="#">Tag2</a></li>
										</ul>
									</footer>	
							
								</li>
								<li class="job-post-it fleft">
									<header class="resetM">
										<h3 class="tt-orange bold uppercase"><a href="#">Place de marché</a></h3>
										<div class="locked"></div>
									</header>

									<section class="post-it">

										<p><a class="tt-clr" href="#">Je recherche</a></p>
										<h4 class="tt-8 bold"><a class="tt-clr" href="#">Designer pour projets Collaboratifs</a></h4>
									
									</section>
									<footer>
										<p><a href="#">Posté par <strong>pseudo</strong> le 12 juillet 2012</a></p>
										<ul class="cf resetM tag">
											<li><a href="#" class="light-clr">Tag1</a></li>
											<li class="last"><a class="light-clr" href="#">Tag2</a></li>
										</ul>
									</footer>	
							
								</li>
								<li class="job-post-it fleft">
									<header class="resetM">
										<h3 class="tt-orange bold uppercase"><a href="#">Place de marché</a></h3>
										<div class="locked"></div>
									</header>

									<section class="post-it">

										<p><a class="tt-clr" href="#">Je recherche</a></p>
										<h4 class="tt-8 bold"><a class="tt-clr" href="#">Designer pour projets Collaboratifs</a></h4>
									
									</section>
									<footer>
										<p><a href="#">Posté par <strong>pseudo</strong> le 12 juillet 2012</a></p>
										<ul class="cf resetM tag">
											<li><a href="#" class="light-clr">Tag1</a></li>
											<li class="last"><a class="light-clr" href="#">Tag2</a></li>
										</ul>
									</footer>	
							
								</li>
								<li class="job-post-it fleft">
									<header class="resetM">
										<h3 class="tt-orange bold uppercase"><a href="#">Place de marché</a></h3>
										<div class="locked"></div>
									</header>

									<section class="post-it">

										<p><a class="tt-clr" href="#">Je recherche</a></p>
										<h4 class="tt-8 bold"><a class="tt-clr" href="#">Designer pour projets Collaboratifs</a></h4>
									
									</section>
									<footer>
										<p><a href="#">Posté par <strong>pseudo</strong> le 12 juillet 2012</a></p>
										<ul class="cf resetM tag">
											<li><a href="#" class="light-clr">Tag1</a></li>
											<li class="last"><a class="light-clr" href="#">Tag2</a></li>
										</ul>
									</footer>	
							
								</li>
								<li class="job-post-it fleft last">
									<header class="resetM">
										<h3 class="tt-orange bold uppercase"><a href="#">Place de marché</a></h3>
										<div class="locked"></div>
									</header>

									<section class="post-it">

										<p><a class="tt-clr" href="#">Je recherche</a></p>
										<h4 class="tt-8 bold"><a class="tt-clr" href="#">Designer pour projets Collaboratifs</a></h4>
									
									</section>
									<footer>
										<p><a href="#">Posté par <strong>pseudo</strong> le 12 juillet 2012</a></p>
										<ul class="cf resetM tag">
											<li><a href="#" class="light-clr">Tag1</a></li>
											<li class="last"><a class="light-clr" href="#">Tag2</a></li>
										</ul>
									</footer>	
							
								</li>
							</ul>
						</div>
					</section>

					<section id="profil" class="hidden cf" style="display: none;">
						<div class="wrap">
							<header class="">
								<h3 class="tt-5 tt-clr bold">Mon profil</h3>
								<p>Vous pouvez modifier vos coordonnées personnelles et professionnelles en cliquant sur modifier.</p>
							</header>
							<ul>
								<li>

									<div class="title-border-bot cf">
										<h3 class="tt-9 uppercase fleft">DONNEES ADHERENT</h3>
										<a href="#" class="tt-clr fright underline edit">Modifier</a>
									</div>
								

									<div class="info">
										<p class="bold"><span class="fleft bold tt-clr">Identifiant :</span> michmich</p>
										<p class="bold"><span class="fleft bold tt-clr">Mot de passe: </span>****</p>
									</div>
									<div class="info-edit hidden">
										<form>
											<div class="row">
												<input type="text" value="identifiant">
											</div>
											<div class="row">
												<input type="password" value="mot de passe">
											</div>		
										</form>
										<div class="button-ct">
											<a class="button purple" href="#"><!--
											--><span>Modifier</span><!--
											--></a>

											<a class="button purple close-edit" href="#"><!--
											--><span>Fermer</span><!--
											--></a>
										</div>
									</div>
								</li>
								
								<li>
									<div class="title-border-bot cf">
										<h3 class="tt-9 uppercase fleft">DONNEES CONNEXION</h3>
										<a href="#" class="tt-clr fright underline edit">Modifier</a>
									</div>

									<div class="info">
										<p class="bold"><span class="fleft bold tt-clr">Statut :</span> En attente de paiement</p>
										<p class="bold"><span class="fleft bold tt-clr">Commisions: </span>Commission1, Commission2</p>
									</div>
									<div class="info-edit hidden">
										<form>
											<div class="row">
												<input type="text" value="Statut">
											</div>
											<div class="row">
												<input type="text" value="Commission">
											</div>		
										</form>
										<div class="button-ct">
											<a class="button purple" href="#"><!--
											--><span>Modifier</span><!--
											--></a>

											<a class="button purple close-edit" href="#"><!--
											--><span>Fermer</span><!--
											--></a>
										</div>
									</div>
								</li>
								<li>
									<div class="title-border-bot cf">
										<h3 class="tt-9 uppercase fleft">DONNEES CONTACT</h3>
										<a href="#" class="tt-clr fright underline display-all">Afficher toutes les infos</a>
										<a href="#" class="tt-clr fright underline edit">Modifier</a>
									</div>

									<div class="info cf">
										<figure class="fleft">
											 <img src="./media/img/body/mySpace/adherent.jpg" alt="LA MELEE">
										</figure>

										<ul class="fleft resetM">
											<li>
												<p class="bold"><span class="fleft tt-clr">Nom :</span> durand</p>
											</li>
											<li>
												<p class="bold"><span class="fleft bold tt-clr">Prénom: </span>Michel</p>
											</li>
											<li>
												<p class="bold"><span class="fleft bold tt-clr">Email :</span> michmic@gmail.com</p>
											</li>
											<li class="last">
												<p class="bold"><span class="fleft bold tt-clr">Numéro: </span>06 52 54 84 47</p>
											</li>
										</ul>
										<ul class="fleft info-contact hidden resetM">
											<li>
												<p class="bold"><span class="fleft tt-clr">fafa :</span> durand</p>
											</li>
											<li>
												<p class="bold"><span class="fleft bold tt-clr">fafaf :</span> michmic@gmail.com</p>
											</li>
											<li>
												<p class="bold"><span class="fleft bold tt-clr">fafa: </span>Michel</p>
											</li>
											<li>
												<p class="bold"><span class="fleft bold tt-clr">fafaf :</span> michmic@gmail.com</p>
											</li>
											<li>
												<p class="bold"><span class="fleft tt-clr">fafa :</span> durand</p>
											</li>
											<li>
												<p class="bold"><span class="fleft bold tt-clr">fafaf :</span> michmic@gmail.com</p>
											</li>
											<li>
												<p class="bold"><span class="fleft bold tt-clr">fafa: </span>Michel</p>
											</li>
											<li>
												<p class="bold"><span class="fleft bold tt-clr">fafaf :</span> michmic@gmail.com</p>
											</li>
											<li>
												<p class="bold"><span class="fleft tt-clr">fafa :</span> durand</p>
											</li>
											<li>
												<p class="bold"><span class="fleft bold tt-clr">fafaf :</span> michmic@gmail.com</p>
											</li>
											<li>
												<p class="bold"><span class="fleft bold tt-clr">fafa: </span>Michel</p>
											</li>
											<li class="last">
												<p class="bold"><span class="fleft bold tt-clr">fafaf :</span> michmic@gmail.com</p>
											</li>
										</ul>
									</div>

									<div class="info-edit hidden">
										<form>
											<div class="row">
												<input type="text" value="Nom">
											</div>
											<div class="row">
												<input type="text" value="Prénom">
											</div>	
											<div class="row">
												<input type="text" value="Email">
											</div>	
											<div class="row">
												<input type="text" value="Numéro">
											</div>		
										</form>
										<div class="button-ct">
											<a class="button purple" href="#"><!--
											--><span>Modifier</span><!--
											--></a>

											<a class="button purple close-edit" href="#"><!--
											--><span>Fermer</span><!--
											--></a>
										</div>
									</div>
								</li>
								<li class="last">
									<div class="title-border-bot cf">
										<h3 class="tt-9 uppercase fleft">ACTIVITE</h3>
										<a href="#" class="tt-clr fright underline">Afficher toutes les infos</a>
										<a href="#" class="tt-clr fright underline edit">Modifier</a>
									</div>
									<div class="info">
										<p class="bold"><span class="fleft tt-clr">Nom de Société:</span> Novedia</p>
										<p class="bold"><span class="fleft bold tt-clr">Activité: </span>Tic</p>
										<p class="bold"><span class="fleft bold tt-clr">Fonction :</span> Directeur</p>				
									</div>
									<div class="info-edit hidden">
										<form>
											<div class="row">
												<input type="text" value="Nom">
											</div>
											<div class="row">
												<input type="text" value="Prénom">
											</div>	
											<div class="row">
												<input type="text" value="Email">
											</div>	
											<div class="row">
												<input type="text" value="Numéro">
											</div>		
										</form>
										<div class="button-ct">
											<a class="button purple" href="#"><!--
											--><span>Modifier</span><!--
											--></a>
											<a class="button purple close-edit" href="#"><!--
											--><span>Fermer</span><!--
											--></a>
										</div>
									</div>
								</li>
							</ul>

						</div>
					</section>

					<section id="collaborateur" class="hidden cf" style="display: none;">
						<div class="wrap">
							<header class="resetM">
								<h3 class="tt-5 tt-clr bold">Mes Collaborateurs</h3>
								<p>Vous pouvez créer et gérer jusqu’à 4 comptes collaborateur. 
									Chaque collaborateur aura ses propres identifiants de connexion et aura accès à son Espace. 
									Vous pouvez modifier les données collaborateur en cliquant sur «modifier».</p>
							</header>
							<ul>
								<li>
									<div class="title-border-bot cf">
										<h3 class="tt-9 uppercase fleft"> Collaborateurs 1</h3>
										<a href="#" class="tt-clr fright underline edit">Modifier</a>
									</div>

									<div class="info">
										<p class="bold"><span class="fleft tt-clr">Nom :</span> durand</p>
										<p class="bold"><span class="fleft bold tt-clr">Prénom: </span>Michel</p>
										<p class="bold"><span class="fleft bold tt-clr">Email :</span> michmic@gmail.com</p>
										<p class="bold"><span class="fleft bold tt-clr">Fonction: </span>Directeur</p>
									</div>

									<div class="info-edit hidden">
										<form>
											<div class="row">
												<input type="text" value="nom">
											</div>
											<div class="row">
												<input type="text" value="Prénom">
											</div>
											<div class="row">
												<input type="text" value="Email">
											</div>
											<div class="row">
												<input type="text" value="Fonction">
											</div>

										</form>
										<div class="button-ct">
											<a href="#" class="button purple"><!--
											--><span>Modifier</span><!--
											--></a>

											<a href="#" class="button purple close-edit"><!--
											--><span>Fermer</span><!--
											--></a>
										</div>
									</div>
								</li>
								<li>
									<div class="title-border-bot cf">
										<h3 class="tt-9 uppercase fleft"> Collaborateurs 2</h3>
										<a href="#" class="tt-clr fright underline new-account">Créer un nouveau compte</a>
									</div>

									<div class="info hidden">
										<div class="row"> 
											<input type="text" value="nom">
											<input type="text" value="prénom">
										</div>

										<div class="row"> 
											<input class="sizeInput" type="text" value="Telephone">
										</div>
										<div class="row"> 
											<input class="sizeInput" type="text" value="Email">
										</div>
										<div class="button-ct">
											<a href="#" class="button purple"><!--
											--><span>Creer</span><!--
											--></a>

											<a href="#" class="button purple close-account"><!--
											--><span>Fermer</span><!--
											--></a>
										</div>
									</div>
								</li>
								<li>
									<div class="title-border-bot cf">
										<h3 class="tt-9 uppercase fleft"> Collaborateurs 2</h3>
										<a href="#" class="tt-clr fright underline new-account">Créer un nouveau compte</a>
									</div>

									<div class="info hidden">
										<div class="row"> 
											<input type="text" value="nom">
											<input type="text" value="prénom">
										</div>

										<div class="row"> 
											<input class="sizeInput" type="text" value="Telephone">
										</div>
										<div class="row"> 
											<input class="sizeInput" type="text" value="Email">
										</div>
										<div class="button-ct">
											<a href="#" class="button purple"><!--
											--><span>Creer</span><!--
											--></a>

											<a href="#" class="button purple close-account"><!--
											--><span>Fermer</span><!--
											--></a>
										</div>
									</div>
								</li>
								<li class="last">
									<div class="title-border-bot cf">
										<h3 class="tt-9 uppercase fleft">Collaborateurs 2</h3>
										<a href="#" class="tt-clr fright underline new-account">Créer un nouveau compte</a>
									</div>

									<div class="info hidden">
										<div class="row"> 
											<input type="text" value="nom">
											<input type="text" value="prénom">
										</div>

										<div class="row"> 
											<input class="sizeInput" type="text" value="Telephone">
										</div>
										<div class="row"> 
											<input class="sizeInput" type="text" value="Email">
										</div>
										<div class="button-ct">
											<a href="#" class="button purple"><!--
											--><span>Creer</span><!--
											--></a>

											<a href="#" class="button purple close-account"><!--
											--><span>Fermer</span><!--
											--></a>
										</div>
									</div>
								</li>
						
							</ul>

							
						</div>
					</section>

					<section id="event" class="hidden cf" style="display: none;">
						<div class="wrap">
							<header class=" none">
								<h3 class="tt-5 tt-clr bold">Mes evènements</h3>
								<p>Vous êtes inscrit à 3 évènements</p>
							</header>
							<ul>
								<li class="cf">
									<article class="event-bloc cf">
										<div class="sync-calendar ">
											<a href="#" class="e-cal"></a>
											<ul class="e-cal-sync">
												<li>
													<a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text=Compute 2011 and Elements 2011&amp;dates=20110325T143000/20110326T233000&amp;location=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India&amp;details=For details visit.. http://compute2011.doattend.com&amp;trp=true&amp;sprop= website:www.doattend.com&amp;sprop=name:doattend">Add to Google Calendar</a>
												</li>
												<li>
													<a href="http://calendar.yahoo.com/?v=60&amp;view=d&amp;type=20&amp;title=Compute 2011 and Elements 2011&amp;st=20110325T143000&amp;desc=For details visit.. http://compute2011.doattend.com&amp;in_loc=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India">Add to Yahoo Calendar</a>
												</li>
													<li>
													<a href="/add_to_ical?id=3028">Add to Outlook</a>
												</li>
												<li class="last">
													<a href="/add_to_ical?id=3028">Add to iCal</a>
												</li>
											</ul>
										</div>

										<figure class="fleft">
											<a href="#">
												<img alt="LA MELEE" src="./media/img/body/evenements/event1.png">
											</a>
										</figure>
										<header class="resetM">
											<h4 class=" tt-9"><a class="tt-clr" href="#">Les Trophées de l'Economie Numérique</a></h4>
											<p class="italic "><a class="light-clr" href="#"> Du 17 juillet au 19 juillet 2012 </a></p>
										</header>
										
										<p><a href="#"> Concours annuel récompensant les meilleures
										 initiatives TIC de la région  Midi-Pyrénées : Trophées 
										 de l'entreprise numérisée, de la jeune entreprise
										  innovante, du développement local, Grand Prix de 
										  l'Économie Numérique.</a>
										</p>
									</article>	
								</li>
								<li class="cf">
									<article class="event-bloc cf">
										<div class="sync-calendar ">
											<a href="#" class="e-cal"></a>
											<ul class="e-cal-sync">
												<li>
													<a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text=Compute 2011 and Elements 2011&amp;dates=20110325T143000/20110326T233000&amp;location=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India&amp;details=For details visit.. http://compute2011.doattend.com&amp;trp=true&amp;sprop= website:www.doattend.com&amp;sprop=name:doattend">Add to Google Calendar</a>
												</li>
												<li>
													<a href="http://calendar.yahoo.com/?v=60&amp;view=d&amp;type=20&amp;title=Compute 2011 and Elements 2011&amp;st=20110325T143000&amp;desc=For details visit.. http://compute2011.doattend.com&amp;in_loc=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India">Add to Yahoo Calendar</a>
												</li>
													<li>
													<a href="/add_to_ical?id=3028">Add to Outlook</a>
												</li>
												<li class="last">
													<a href="/add_to_ical?id=3028">Add to iCal</a>
												</li>
											</ul>
										</div>

										<figure class="fleft">
											<a href="#">
												<img alt="LA MELEE" src="./media/img/body/evenements/event1.png">
											</a>
										</figure>
										<header class="resetM">
											<h4 class=" tt-9"><a class="tt-clr" href="#">Les Trophées de l'Economie Numérique</a></h4>
											<p class="italic "><a class="light-clr" href="#"> Du 17 juillet au 19 juillet 2012 </a></p>
										</header>
										
										<p><a href="#"> Concours annuel récompensant les meilleures
										 initiatives TIC de la région  Midi-Pyrénées : Trophées 
										 de l'entreprise numérisée, de la jeune entreprise
										  innovante, du développement local, Grand Prix de 
										  l'Économie Numérique.</a>
										</p>
									</article>	
								</li>
								<li class="cf">
									<article class="event-bloc cf">
										<div class="sync-calendar ">
											<a href="#" class="e-cal"></a>
											<ul class="e-cal-sync">
												<li>
													<a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text=Compute 2011 and Elements 2011&amp;dates=20110325T143000/20110326T233000&amp;location=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India&amp;details=For details visit.. http://compute2011.doattend.com&amp;trp=true&amp;sprop= website:www.doattend.com&amp;sprop=name:doattend">Add to Google Calendar</a>
												</li>
												<li>
													<a href="http://calendar.yahoo.com/?v=60&amp;view=d&amp;type=20&amp;title=Compute 2011 and Elements 2011&amp;st=20110325T143000&amp;desc=For details visit.. http://compute2011.doattend.com&amp;in_loc=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India">Add to Yahoo Calendar</a>
												</li>
													<li>
													<a href="/add_to_ical?id=3028">Add to Outlook</a>
												</li>
												<li class="last">
													<a href="/add_to_ical?id=3028">Add to iCal</a>
												</li>
											</ul>
										</div>

										<figure class="fleft">
											<a href="#">
												<img alt="LA MELEE" src="./media/img/body/evenements/event1.png">
											</a>
										</figure>
										<header class="resetM">
											<h4 class=" tt-9"><a class="tt-clr" href="#">Les Trophées de l'Economie Numérique</a></h4>
											<p class="italic "><a class="light-clr" href="#"> Du 17 juillet au 19 juillet 2012 </a></p>
										</header>
										
										<p><a href="#"> Concours annuel récompensant les meilleures
										 initiatives TIC de la région  Midi-Pyrénées : Trophées 
										 de l'entreprise numérisée, de la jeune entreprise
										  innovante, du développement local, Grand Prix de 
										  l'Économie Numérique.</a>
										</p>
									</article>	
								</li>
								<li class="cf">
									<article class="event-bloc cf">
										<div class="sync-calendar ">
											<a href="#" class="e-cal"></a>
											<ul class="e-cal-sync">
												<li>
													<a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text=Compute 2011 and Elements 2011&amp;dates=20110325T143000/20110326T233000&amp;location=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India&amp;details=For details visit.. http://compute2011.doattend.com&amp;trp=true&amp;sprop= website:www.doattend.com&amp;sprop=name:doattend">Add to Google Calendar</a>
												</li>
												<li>
													<a href="http://calendar.yahoo.com/?v=60&amp;view=d&amp;type=20&amp;title=Compute 2011 and Elements 2011&amp;st=20110325T143000&amp;desc=For details visit.. http://compute2011.doattend.com&amp;in_loc=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India">Add to Yahoo Calendar</a>
												</li>
													<li>
													<a href="/add_to_ical?id=3028">Add to Outlook</a>
												</li>
												<li class="last">
													<a href="/add_to_ical?id=3028">Add to iCal</a>
												</li>
											</ul>
										</div>

										<figure class="fleft">
											<a href="#">
												<img alt="LA MELEE" src="./media/img/body/evenements/event1.png">
											</a>
										</figure>
										<header class="resetM">
											<h4 class=" tt-9"><a class="tt-clr" href="#">Les Trophées de l'Economie Numérique</a></h4>
											<p class="italic "><a class="light-clr" href="#"> Du 17 juillet au 19 juillet 2012 </a></p>
										</header>
										
										<p><a href="#"> Concours annuel récompensant les meilleures
										 initiatives TIC de la région  Midi-Pyrénées : Trophées 
										 de l'entreprise numérisée, de la jeune entreprise
										  innovante, du développement local, Grand Prix de 
										  l'Économie Numérique.</a>
										</p>
									</article>	
								</li>
								<li class="cf">
									<article class="event-bloc cf">
										<div class="sync-calendar ">
											<a href="#" class="e-cal"></a>
											<ul class="e-cal-sync">
												<li>
													<a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text=Compute 2011 and Elements 2011&amp;dates=20110325T143000/20110326T233000&amp;location=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India&amp;details=For details visit.. http://compute2011.doattend.com&amp;trp=true&amp;sprop= website:www.doattend.com&amp;sprop=name:doattend">Add to Google Calendar</a>
												</li>
												<li>
													<a href="http://calendar.yahoo.com/?v=60&amp;view=d&amp;type=20&amp;title=Compute 2011 and Elements 2011&amp;st=20110325T143000&amp;desc=For details visit.. http://compute2011.doattend.com&amp;in_loc=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India">Add to Yahoo Calendar</a>
												</li>
													<li>
													<a href="/add_to_ical?id=3028">Add to Outlook</a>
												</li>
												<li class="last">
													<a href="/add_to_ical?id=3028">Add to iCal</a>
												</li>
											</ul>
										</div>

										<figure class="fleft">
											<a href="#">
												<img alt="LA MELEE" src="./media/img/body/evenements/event1.png">
											</a>
										</figure>
										<header class="resetM">
											<h4 class=" tt-9"><a class="tt-clr" href="#">Les Trophées de l'Economie Numérique</a></h4>
											<p class="italic "><a class="light-clr" href="#"> Du 17 juillet au 19 juillet 2012 </a></p>
										</header>
										
										<p><a href="#"> Concours annuel récompensant les meilleures
										 initiatives TIC de la région  Midi-Pyrénées : Trophées 
										 de l'entreprise numérisée, de la jeune entreprise
										  innovante, du développement local, Grand Prix de 
										  l'Économie Numérique.</a>
										</p>
									</article>	
								</li>
								<li class="cf">
									<article class="event-bloc cf">
										<div class="sync-calendar ">
											<a href="#" class="e-cal"></a>
											<ul class="e-cal-sync">
												<li>
													<a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text=Compute 2011 and Elements 2011&amp;dates=20110325T143000/20110326T233000&amp;location=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India&amp;details=For details visit.. http://compute2011.doattend.com&amp;trp=true&amp;sprop= website:www.doattend.com&amp;sprop=name:doattend">Add to Google Calendar</a>
												</li>
												<li>
													<a href="http://calendar.yahoo.com/?v=60&amp;view=d&amp;type=20&amp;title=Compute 2011 and Elements 2011&amp;st=20110325T143000&amp;desc=For details visit.. http://compute2011.doattend.com&amp;in_loc=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India">Add to Yahoo Calendar</a>
												</li>
													<li>
													<a href="/add_to_ical?id=3028">Add to Outlook</a>
												</li>
												<li class="last">
													<a href="/add_to_ical?id=3028">Add to iCal</a>
												</li>
											</ul>
										</div>

										<figure class="fleft">
											<a href="#">
												<img alt="LA MELEE" src="./media/img/body/evenements/event1.png">
											</a>
										</figure>
										<header class="resetM">
											<h4 class=" tt-9"><a class="tt-clr" href="#">Les Trophées de l'Economie Numérique</a></h4>
											<p class="italic "><a class="light-clr" href="#"> Du 17 juillet au 19 juillet 2012 </a></p>
										</header>
										
										<p><a href="#"> Concours annuel récompensant les meilleures
										 initiatives TIC de la région  Midi-Pyrénées : Trophées 
										 de l'entreprise numérisée, de la jeune entreprise
										  innovante, du développement local, Grand Prix de 
										  l'Économie Numérique.</a>
										</p>
									</article>	
								</li>
								<li class="cf">
									<article class="event-bloc cf">
										<div class="sync-calendar ">
											<a href="#" class="e-cal"></a>
											<ul class="e-cal-sync">
												<li>
													<a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text=Compute 2011 and Elements 2011&amp;dates=20110325T143000/20110326T233000&amp;location=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India&amp;details=For details visit.. http://compute2011.doattend.com&amp;trp=true&amp;sprop= website:www.doattend.com&amp;sprop=name:doattend">Add to Google Calendar</a>
												</li>
												<li>
													<a href="http://calendar.yahoo.com/?v=60&amp;view=d&amp;type=20&amp;title=Compute 2011 and Elements 2011&amp;st=20110325T143000&amp;desc=For details visit.. http://compute2011.doattend.com&amp;in_loc=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India">Add to Yahoo Calendar</a>
												</li>
													<li>
													<a href="/add_to_ical?id=3028">Add to Outlook</a>
												</li>
												<li class="last">
													<a href="/add_to_ical?id=3028">Add to iCal</a>
												</li>
											</ul>
										</div>

										<figure class="fleft">
											<a href="#">
												<img alt="LA MELEE" src="./media/img/body/evenements/event1.png">
											</a>
										</figure>
										<header class="resetM">
											<h4 class=" tt-9"><a class="tt-clr" href="#">Les Trophées de l'Economie Numérique</a></h4>
											<p class="italic "><a class="light-clr" href="#"> Du 17 juillet au 19 juillet 2012 </a></p>
										</header>
										
										<p><a href="#"> Concours annuel récompensant les meilleures
										 initiatives TIC de la région  Midi-Pyrénées : Trophées 
										 de l'entreprise numérisée, de la jeune entreprise
										  innovante, du développement local, Grand Prix de 
										  l'Économie Numérique.</a>
										</p>
									</article>	
								</li>
								<li class="cf last">
									<article class="event-bloc cf">
										<div class="sync-calendar ">
											<a href="#" class="e-cal"></a>
											<ul class="e-cal-sync">
												<li>
													<a href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text=Compute 2011 and Elements 2011&amp;dates=20110325T143000/20110326T233000&amp;location=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India&amp;details=For details visit.. http://compute2011.doattend.com&amp;trp=true&amp;sprop= website:www.doattend.com&amp;sprop=name:doattend">Add to Google Calendar</a>
												</li>
												<li>
													<a href="http://calendar.yahoo.com/?v=60&amp;view=d&amp;type=20&amp;title=Compute 2011 and Elements 2011&amp;st=20110325T143000&amp;desc=For details visit.. http://compute2011.doattend.com&amp;in_loc=Taj Residency, Trinity Circle, M G Road, Bangalore, Karnataka, India">Add to Yahoo Calendar</a>
												</li>
													<li>
													<a href="/add_to_ical?id=3028">Add to Outlook</a>
												</li>
												<li class="last">
													<a href="/add_to_ical?id=3028">Add to iCal</a>
												</li>
											</ul>
										</div>

										<figure class="fleft">
											<a href="#">
												<img alt="LA MELEE" src="./media/img/body/evenements/event1.png">
											</a>
										</figure>
										<header class="resetM">
											<h4 class=" tt-9"><a class="tt-clr" href="#">Les Trophées de l'Economie Numérique</a></h4>
											<p class="italic "><a class="light-clr" href="#"> Du 17 juillet au 19 juillet 2012 </a></p>
										</header>
										
										<p><a href="#"> Concours annuel récompensant les meilleures
										 initiatives TIC de la région  Midi-Pyrénées : Trophées 
										 de l'entreprise numérisée, de la jeune entreprise
										  innovante, du développement local, Grand Prix de 
										  l'Économie Numérique.</a>
										</p>
									</article>	
								</li>
							</ul>						
						</div>
						<div class="button-ct">
							<a href="#" class="button purple"><!--
								--><span>Proposer un évènement</span><!--
							--></a>
						</div>
					</section>

					<section id="newsletter" class="hidden" style="display: block;">
						<div class="wrap">
							<header class="resetM">
								<h3 class="tt-5 tt-clr bold">Mes Newsletters</h3>
								<p>Choisissez vos inscriptions / désinscriptions à nos newsletters thématiques.</p>
							</header>

							<ul class="newsletter-choice resetM">
								<li>
									<article class="cf">
										<header class="title-border-bot cf">
											<h4 class="tt-9 uppercase">Au coeur de la mélée</h4>
											<p class="italic">Hebdomadaire - Réservée aux adhérents</p>
										</header>	

										<figure class="fleft">
											 <img src="./media/img/body/mySpace/logo-letter.png" alt="LA MELEE">
										</figure>
											<p>Le bulletin d’informations interne des 
												adhérents et des commissions. En tant qu
												'adhérent, n’oubliez pas de revenir vers
												nous avec vos nouvelles idées ou 
												propositions qui font la richesse de
												La Mêlée ! Nous attendons vos contribution à 
												l'adresse suivante : newsletter@lamelee.com</p>	
											<p>
												<a href="#" class="underline tt-10">Accéder aux archives</a>
											</p>	
									</article>
								</li>

								<li>
									<article class="cf">
										<header class="title-border-bot">
											<h4 class="tt-9 uppercase">Midenews</h4>
											<div class="yesNo">
												<a href="#" class="active">Oui</a>
												<a href="#">Non</a>
											</div>
											<p class="italic">Hebdomadaire </p>
										</header>	

										<figure class="fleft">
											 <img src="./media/img/body/mySpace/mid-letter.png" alt="LA MELEE">
										</figure>
										<p>
											Retrouvez toute l'actualité numérique du Sud-Ouest.	
										</p>	
												
									</article>
								</li>

								<li>
									<article class="cf">
										<header class="title-border-bot cf">
											<h4 class="tt-9 uppercase">infomélée </h4>
											<div class="yesNo">
												<a href="#" class="active">Oui</a>
												<a href="#" class="">Non</a>
											</div>
											<p class="italic clear">Bimensuelle</p>
										</header>	

										<figure class="fleft">
											 <img src="./media/img/body/mySpace/info-letter.png" alt="LA MELEE">
										</figure>
											<p>
												Recevez toute la programmation des rencontres et événements organisés à La Cantine Toulouse.	
											</p>	
												
									</article>
								</li>
								<li>
									<article class="cf">
										<header class="title-border-bot cf">
											<h4 class="tt-9 uppercase">infocantine </h4>
											<div class="yesNo">
												<a href="#" class="active">Oui</a>
												<a href="#" class="">Non</a>
											</div>
											<p class="italic clear">Bimensuelle</p>
										</header>	

										<figure class="fleft">
											 <img src="./media/img/body/mySpace/cantine-letter.png" alt="LA MELEE">
										</figure>
											<p>
												Recevez les invitations aux prochains événements,
												 les expertises et les actualités de façon ciblée selon vos centres d'intérêts.
											</p>	
									</article>
								</li>
								<li class="last">
									<article class="cf">
										<header class="title-border-bot">
											<h4 class="tt-9 uppercase">thema’tic </h4>
											<div class="yesNo newsletter-pict">
												<a href="#" class="active" data-choice="yes">Oui</a>
												<a href="#" data-choice="no" class="">Non</a>
											</div>
											<p class="italic clear">(pas de périodicité fixe, NDLR)</p>
										</header>	

										<figure class="fleft">
											 <img src="./media/img/body/mySpace/logo-letter.png" alt="LA MELEE">
										</figure>
											<p>
												Recevez les invitations aux prochains événements,
												 les expertises et les actualités de façon ciblée selon vos centres d'intérêts.
											</p>
											<ul class="newsletter-list cf clear" style="display: block;">
												<li>
													<a href="#" class="system">Système <br> d'information</a>
												</li>
												<li>
													<a href="#" class="innovation">Innovation</a>
												</li>
												<li>
													<a href="#" class="tele-work">Télétravail</a>
												</li>
												<li>
													<a href="#" class="security">Sécurité <br> informatique</a>
												</li>
												<li>
													<a href="#" class="world on">International</a>
												</li>
												<li>
													<a href="#" class="sante">E-santé</a>
												</li>
												<li>
													<a href="#" class="tech on">Cleantech</a>
												</li>
												<li>
													<a href="#" class="mobile on">Mobilité</a>
												</li>
												<li>
													<a href="#" class="e-com">E-commerce</a>
												</li>
												<li>
													<a href="#" class="opensource">Logiciel Libre</a>
												</li>
												<li class="last">
													<a href="#" class="telecom">Telecoms</a>
												</li>
											</ul>	
									</article>
								</li>
							</ul>						
						</div>
						<div class="button-ct">
							<a href="#" class="button purple"><!--
								--><span>Enregistrer mes préférences</span><!--
							--></a>
						</div>
					</section>

					<section id="flux-rss" class="hidden" style="display: none;">
						<div class="wrap">

							<header class="resetM">
								<h3 class="tt-5 tt-clr bold"> Mes flux RSS</h3>
								<p>Choisissez les flux RSS auxquels vous souhaitez vous abonner</p>
							</header>
							<ul class="flux-choice cf">
								<li class="cf">
									<article>
										<header class="title-border-bot">
											<h4 class="tt-9 uppercase">THEMA'TIC</h4>
										</header>	
								
											<ul class="flux-list">
												<li>
													<a href="#" class="system">Système <br> d'information</a>
												</li>
												<li>
													<a href="#" class="innovation">Innovation</a>
												</li>
												<li>
													<a href="#" class="tele-work on">Télétravail</a>
												</li>
												<li>
													<a href="#" class="security">Sécurité <br> informatique</a>
												</li>
												<li>
													<a href="#" class="world">International</a>
												</li>
												<li>
													<a href="#" class="sante on">E-santé</a>
												</li>
												<li>
													<a href="#" class="tech">Cleantech</a>
												</li>
												<li>
													<a href="#" class="mobile">Mobilité</a>
												</li>
												<li>
													<a href="#" class="e-com">E-commerce</a>
												</li>
												<li>
													<a href="#" class="opensource">Logiciel Libre</a>
												</li>
												<li class="last">
													<a href="#" class="telecom">Telecoms</a>
												</li>
											</ul>	
									</article>
								</li>
								<li class="cf last">
									<article>
										<header class="title-border-bot">
											<h4 class="tt-9 uppercase">COMMISSION</h4>
										</header>	
								
											<ul class="flux-list com">
												<li>
													<a href="#" class="com-e-com">e-commerce</a>
												</li>
												<li>
													<a href="#" class="com-info">Décideurs informatique</a>
												</li>
												<li>
													<a href="#" class="com-world">commision international</a>
												</li>
												<li>
													<a href="#" class="com-inno">Innovation</a>
												</li>
												<li>
													<a href="#" class="com-anim">Animation</a>
												</li>
												<li>
													<a href="#" class="com-work">foramtion/emploi</a>
												</li>
												<li>
													<a href="#" class="com-free">Solibre</a>
												</li>
												<li>
													<a href="#" class="com-green">Green-mêlée</a>
												</li>
												<li>
													<a href="#" class="com-security">Sécurité</a>
												</li>
												<li>
													<a href="#" class="com-tic">tic et santé </a>
												</li>
												<li>
													<a href="#" class="com-mob">Mobilité</a>
												</li>
												<li class="last">
													<a href="#" class="com-tele-work">télétravail</a>
												</li>
											</ul>	
									</article>
								</li>
							</ul>						
						</div>
						
					</section>
				</div>
			</div>
		</section>