{% block subject %}
{% autoescape false %}
{{ 'pi.individual.form.lamelee.email.subject'|replace({'<p>': '', '</p>': ''})|trans }}
{% endautoescape %}
{% endblock %}
{% block body %}
{% autoescape false %}
{{ 'pi.individual.form.lamelee.email.body'|trans({'%login%': form.UserName, '%passworde%': password, '%confirmationUrl%': confirmationUrl, '%name%': form.Name, '%nickname%': form.Nickname}) }}
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}


