/*  FANCYBOX DIALOG FLASH----------------------------------------------- */
.fancybox-wrap .fancybox-flash .tt-grey{
  background-color: #424242;
  line-height: 45px;
  padding-left:10px;
}
.fancybox-wrap .fancybox-flash .tt-grey *{
    color:#fff;
}
.fancybox-wrap .fancybox-flash p{
    padding: 7px;
}
/*  FANCYBOX GRID ----------------------------------------------- */
.fancybox-wrap .fancybox-grid{
  border: 2px solid #111;
  box-shadow: 3px 3px 10px #555;
  border-radius: 5px;
  background-color: white;
  padding-left:11px;
  padding-right:11px;
}
.fancybox-inner .fancybox-grid{
    min-width: 700px;
    min-height:auto;
}
.fancybox-wrap .fancybox-grid header.tt-grey{
  background-color: #f3f3f3;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 45px;
  margin-left:-11px;
  margin-right:-11px;
  margin-bottom:7px;
  padding-left:11px;
  padding-right:11px;
}
.fancybox-wrap .fancybox-grid footer.tt-grey{
  background-color: #f3f3f3;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 45px;
  margin-left:-11px;
  margin-right:-11px;
  margin-top:7px;
  padding-left:11px;
  padding-right:11px;
}
.fancybox-wrap .fancybox-grid .tt-grey *{
    color:#393939;
}
.fancybox-wrap .fancybox-grid p{
    padding: 7px;
}
.fancybox-wrap .fancybox-grid button {
    text-align: center;
    margin-top: 0;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    text-shadow: 0 1px 0 white;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    -moz-box-shadow: 1px 1px 3px #ccc;
    -ms-box-shadow: 1px 1px 3px #ccc;
    -o-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc;
    background: #ffffff;
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
    background: -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
    background: linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
}
.fancybox-wrap .fancybox-grid button:hover {
    border: 1px solid #666;
    -webkit-box-shadow: 1px 1px 3px #999;
    -moz-box-shadow: 1px 1px 3px #999;
    -ms-box-shadow: 1px 1px 3px #999;
    -o-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999;
    background: #f3f3f3;
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%);
    background: -moz-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%);
    background: -ms-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%);
    background: -o-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%);
    background: linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f4f4f4',GradientType=0 );
}