		{% block body %}
		<section class="breadcrumb">
				<a class="root" href="{{ path_url('home_page') }}">Home</a>
				{% for node in nodes.boucle %}
				{{ node|raw }}
				{% endfor %}
		</section>		
		{% endblock %}        
			
		{% block boucle %}
            {% if node.page.getId() is defined %}
       			{%  set url = path_url(node.page.getRouteName(), {'locale':locale}) %}
			{% elseif node.url is not empty %}
		  		{%  set url = node.url %}
			{% endif %} 
			
			{%  if url is defined %}
			> <a class="child" href="{{ url }}">{{ node.translate(locale).getTitle() }}</a>
			{% endif %}
		{% endblock %}              
		                
		                
		                              