<section class="bloc-generic tpl-3 cf">
	<div class="wrap">
		<figure>
			{% if entity.media.mediaId is defined %}
			<img src="{{ media_url(entity.media.mediaId, 'reference', true, entity.media.getUpdatedAt(), 'block_') }}" title="" alt="" />
			{% endif %}
		</figure>
		{{ entity.translate(locale).getContent()|raw }}
	</div>
</section>