services:
    pi.form.help_extension:
           class: PiApp\AdminBundle\Form\Extension\HelpFieldTypeExtension
           tags:
                - { name: form.type_extension, alias: field } # the alias is the same than getExtendedType in the class

    pi.form.label_extension:
           class: PiApp\AdminBundle\Form\Extension\LabelFieldTypeExtension
           tags:
                - { name: form.type_extension, alias: field } # the alias is the same than getExtendedType in the class

    pi.form.addinfo_extension:
           class: PiApp\AdminBundle\Form\Extension\AddinfoFieldTypeExtension
           tags:
                - { name: form.type_extension, alias: field } # the alias is the same than getExtendedType in the class
                
    pi.form.field_error_type:
           class: PiApp\AdminBundle\Form\Extension\ErrorTypeFieldTypeExtension
           tags:
                - { name: form.type_extension, alias: field } # the alias is the same than getExtendedType in the class

    pi.form.legend_extension:
           class: PiApp\AdminBundle\Form\Extension\LegendFormTypeExtension
           arguments:
                - { show_legend: %pi_app_admin.form.show_legend%, show_child_legend: %pi_app_admin.form.show_child_legend% }
           tags:
                - { name: form.type_extension, alias: form } # the alias is the same than getExtendedType in the class

    pi.form.error_type_extension:
           class: PiApp\AdminBundle\Form\Extension\ErrorTypeFormTypeExtension
           arguments:
                - { error_type: %pi_app_admin.form.error_type% }
           tags:
                - { name: form.type_extension, alias: form } # the alias is the same than getExtendedType in the class
                